@model IEnumerable<acilsat_RB.Models.Products>
<h4> Satışta Olan Ürünlerim</h4>
<hr />

@using (Html.BeginForm())
{
    <div class="tab-content">
        <table class="table table-striped table-advance table-hover">
            <tbody>
                <tr>
                    <th><i class="icon_profile"></i> Full Name</th>
                    <th><i class="icon_calendar"></i> Date</th>
                    <th><i class="icon_mail_alt"></i> Email</th>
                    <th><i class="icon_cogs"></i> Action</th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>

                <td>@Html.DisplayFor(modelItem => item.productName)</td>
                <td>@Html.DisplayFor(modelItem => item.productNo)</td>
                <td>@Html.DisplayFor(modelItem => item.productPrice)</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#" title="Ürünü Düzenle"  new { id=item.Id }><i class="fa fa-edit"></i></a>

                        <a class="btn btn-danger" href="#" title="Ürünü Sİl"  new { id=item.Id }><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>

                }
            </tbody>
        </table>
    </div>

}
